Repository sharma-subendra-kr/LimberGridView: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

version update
  package.json
Due: none

Release 1.0.0 beta.4 (#98)
  README.md
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
  package.json
  src/libs/renderers/renderers.js
Due: eslint

fix: item not shrinking even though it is shrinkable
  src/libs/arrange/arrange.js
  src/libs/arrange/arrangeUtils.js
Due: eslint

fix: bottom right and bottom left latch fix for adjacent items
  src/libs/interaction/itemInteractionUtils.js
Due: eslint

enhancement: performance improvement
  src/libs/arrange/arrangeCore.js
Due: eslint

update: version update
  package.json
Due: none

readme update
  README.md
Due: none

Release 1.0.0 beta.5 wip 1 (#99)
  README.md
  package.json
  src/libs/arrange/arrange.js
  src/libs/arrange/arrangeCore.js
  src/libs/arrange/arrangeUtils.js
  src/libs/interaction/itemInteractionUtils.js
Due: eslint

dist update
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
Due: eslint

Release 1.0.0 beta.5 (#99) (#100)
  README.md
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
  package.json
  src/libs/arrange/arrange.js
  src/libs/arrange/arrangeCore.js
  src/libs/arrange/arrangeUtils.js
  src/libs/interaction/itemInteractionUtils.js
Due: eslint

enhancement: bottom to latch to top exactly on resize
  src/libs/interaction/itemInteractionUtils.js
Due: eslint

version update
  README.md
Due: none

package.json version update
  package.json
Due: none

update
  index.css
  index.html
  index.js
Due: eslint, prettier -c

udpate: package.json update by npm; README update
  README.md
  package.json
Due: none

example code link update
  README.md
  package.json
Due: none

how to use page separated
  index.js
Due: eslint

dist update
  index.js
Due: eslint

How to import css added in README.md
  README.md
Due: none

update: package.json version number
  package.json
Due: none

update: version update in package.json and README
  README.md
  package.json
Due: none

updated readme with how to import
  README.md
Due: none

refactor: removed comments; update: returning false from context menu
  src/libs/arrange/arrange.js
  src/libs/eventHandlerLib/deskInteraction.js
  src/libs/eventHandlerLib/itemInteraction.js
Due: eslint

fix: windows right click fix
  README.md
  package.json
  src/libs/eventHandlerLib/deskInteraction.js
  src/libs/eventHandlerLib/initializers.js
  src/libs/eventHandlerLib/itemInteraction.js
Due: eslint

Issue #110: cutspace changes kept in undo redo
  src/libs/eventHandlerLib/deskInteraction.js
Due: eslint

refactor: removed unused code
  src/libs/eventHandlerLib/initializers.js
Due: eslint

refactor: removed commented code
  src/libs/rect/rectUtils.js
Due: eslint

update: docs prettfied
  .gitignore
  jsDocConf.json
  package-lock.json
  package.json
  src/index.js
Due: eslint

docs: docs update
  src/index.js
Due: eslint

docs: update
  src/index.js
Due: eslint

docs: udpate
  src/index.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  prettier -c: any of: *.{css, scss, json}
