Repository sharma-subendra-kr/LimberGridView: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

.lintstagedrc:

{
  "*.js": ["eslint"],
  "*.{css, scss, json}": ["prettier -c"]
}

mobile intersection observer
  src/initializers/initializers.js
  src/libs/eventHandlerLib/intersectionObserver.js
  src/libs/eventHandlerLib/miscellaneous.js
  src/libs/renderers/renderers.js
  src/libs/utils/items.js
  src/libs/utils/utils.js
  src/store/variables/essentials.js
Due: eslint

bugfix
  src/libs/renderers/renderers.js
Due: eslint

getLogMessage added
  public/main.js
  src/index.js
  src/libs/eventHandlerLib/itemInteraction.js
  src/libs/renderers/renderers.js
Due: eslint

scrollTo behaviour auto on prepend
  src/libs/eventHandlerLib/intersectionObserver.js
Due: eslint

Release 1.0.0 beta.3 wip 2.12 (#90)
  public/main.js
  src/index.js
  src/initializers/initializers.js
  src/libs/eventHandlerLib/intersectionObserver.js
  src/libs/eventHandlerLib/itemInteraction.js
  src/libs/eventHandlerLib/miscellaneous.js
  src/libs/renderers/renderers.js
  src/libs/utils/items.js
  src/libs/utils/utils.js
  src/store/variables/essentials.js
Due: eslint

Release 1.0.0 beta.3 wip 2 (#91)
  package-lock.json
  package.json
  public/index.html
  public/main.css
  public/main.js
  public/positionData.js
  src/index.css
  src/index.js
  src/initializers/initializers.js
  src/libs/arrange/arrange.js
  src/libs/arrange/arrangeCore.js
  src/libs/arrange/arrangeUtils.js
  src/libs/debug/debug.js
  src/libs/eventHandlerLib/deskInteraction.js
  src/libs/eventHandlerLib/deskInteractionUtils.js
  src/libs/eventHandlerLib/eventHandlerUtils.js
  src/libs/eventHandlerLib/initializers.js
  src/libs/eventHandlerLib/intersectionObserver.js
  src/libs/eventHandlerLib/itemInteraction.js
  src/libs/eventHandlerLib/itemInteractionUtils.js
  src/libs/eventHandlerLib/miscellaneous.js
  src/libs/interaction/itemInteraction.js
  src/libs/interaction/itemInteractionUtils.js
  src/libs/rect/rectUtils.js
  src/libs/rect/rectUtils.mergeRects.test.js
  src/libs/rect/rectUtils.subtractRect.test.js
  src/libs/rect/rectUtils.test.js
  src/libs/renderers/renderers.js
  src/libs/utils/essentials.js
  src/libs/utils/items.js
  src/libs/utils/utils.js
  src/store/observer/resizeObserver.js
  src/store/variables/elements.js
  src/store/variables/essentials.js
  src/store/variables/undoRedo.js
  webpack.prod.js
Due: eslint, prettier -c

update
  dist/index.css
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
Due: eslint, prettier -c

update
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
  webpack.prod.js
Due: eslint

udpate
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
  webpack.prod.js
Due: eslint

update
  public/main.js
  src/index.js
  src/libs/eventHandlerLib/deskInteraction.js
Due: eslint

dist upadte
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
Due: eslint

update
  public/positionData.js
  src/index.js
  src/libs/arrange/arrange.js
  src/libs/arrange/arrangeCore.js
  src/libs/debug/debug.js
  src/libs/eventHandlerLib/itemInteraction.js
Due: eslint

update
  src/libs/arrange/arrangeCore.js
Due: eslint

update
  public/positionData.js
  src/libs/arrange/arrange.js
  src/libs/arrange/arrangeCore.js
Due: eslint

update
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
Due: eslint

udpate
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
  src/index.js
Due: eslint

update
  package.json
Due: none

optimization by filtering
  public/positionData.js
  src/libs/arrange/arrange.js
Due: eslint

dist update
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
Due: eslint

optimization by filtering
  src/libs/arrange/arrange.js
  src/libs/arrange/arrangeCore.js
Due: eslint

optimization fix
  src/libs/arrange/arrangeCore.js
Due: eslint

intersection observer fix; cursor change
  src/index.css
Due: prettier -c

update
  dist/index.css
Due: prettier -c

reverting the fix intersection observer as it creates more problems
  src/index.css
Due: prettier -c

dist update
  dist/index.css
Due: prettier -c

bug fix
  src/index.js
Due: eslint

bugfix: removing the wrong index from renderedItems array
  public/positionData.js
  src/libs/renderers/renderers.js
Due: eslint

bugfix: removing the wrong index from renderedItems array
  src/libs/renderers/renderers.js
Due: eslint

bugfix: updating indices
  src/libs/renderers/renderers.js
Due: eslint
