Repository sharma-subendra-kr/LimberGridView: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

fix: item not being able to move on large screen devices where touch hold doesn't fix to a single point;
  src/libs/eventHandlerLib/eventHandlerUtils.js
  src/libs/eventHandlerLib/itemInteraction.js
Due: eslint

fix: item not being able to latch on resize on large screen devices where touch hold doesn't fix to a single point;
  src/libs/eventHandlerLib/eventHandlerUtils.js
  src/libs/eventHandlerLib/itemInteraction.js
Due: eslint

fix: item not being able to latch on move on large screen devices where touch hold doesn't fix to a single point;
  src/libs/eventHandlerLib/itemInteraction.js
Due: eslint

fix: touch hold for cutspace and add not working for large screen devices where touch doesn't fix to a single point;
  src/libs/eventHandlerLib/deskInteraction.js
  src/libs/eventHandlerLib/eventHandlerUtils.js
Due: eslint

update: TOUCH_HOLD_TOLERANCE added;
  src/index.js
  src/initializers/initializers.js
  src/libs/eventHandlerLib/eventHandlerUtils.js
Due: eslint

dist update;
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
Due: eslint

update: comments removed; date update;
  src/libs/eventHandlerLib/deskInteraction.js
  src/libs/eventHandlerLib/eventHandlerUtils.js
  src/libs/eventHandlerLib/itemInteraction.js
Due: eslint

dist update;
  dist/umd/limber.grid.view.development.js
Due: eslint

update: date change;
  src/libs/geometry/geometry.js
Due: eslint

Release 1.0.0 beta.13 wip 1 (#136)
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
  src/index.js
  src/initializers/initializers.js
  src/libs/eventHandlerLib/deskInteraction.js
  src/libs/eventHandlerLib/eventHandlerUtils.js
  src/libs/eventHandlerLib/itemInteraction.js
  src/libs/geometry/geometry.js
Due: eslint

update;
  CHECKLIST
Due: none

update;
  README.md
Due: none

update: CHECKLIST;
  CHECKLIST
Due: none

Release 1.0.0 beta.13 (#135)
  CHECKLIST
  LICENSE
  README.md
  dist/index.css
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
  license_header
  package.json
  public/main.js
  src/index.js
  src/initializers/initializers.js
  src/libs/eventHandlerLib/deskInteraction.js
  src/libs/eventHandlerLib/eventHandlerUtils.js
  src/libs/eventHandlerLib/itemInteraction.js
  src/libs/utils/debug.js
  src/libs/utils/utils.js
Due: eslint, prettier -c

dist update;
  index.css
  index.html
  index.js
Due: eslint, prettier -c

update: margin change function added; docs: docs updated;
  src/index.js
  src/initializers/initializers.js
Due: eslint

docs: documentation updated; update: checks added;
  src/index.js
  src/libs/utils/debug.js
Due: eslint

update: imports arranged;
  src/index.js
  src/libs/actions/marginChange/marginChange.js
  src/libs/actions/marginChange/marginChangeUtils.js
Due: eslint

update;
  src/index.js
  src/libs/actions/marginChange/marginChange.js
  src/libs/actions/marginChange/marginChangeUtils.js
Due: eslint

wip: typo fix;
  src/index.js
Due: eslint

wip: update;
  src/libs/actions/marginChange/marginChangeUtils.js
Due: eslint

update: margin changes done;
  src/index.js
  src/libs/actions/marginChange/marginChange.js
  src/libs/actions/marginChange/marginChangeUtils.js
Due: eslint

update: margin output fix;
  public/main.js
  src/index.js
  src/initializers/initializers.js
  src/libs/eventHandlerLib/miscellaneous.js
Due: eslint

update: options format changed;
  public/main.js
  src/index.js
  src/initializers/initializers.js
Due: eslint

update: margin change value update;
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
  src/index.js
  src/initializers/initializers.js
Due: eslint

update: mountComplete callback function added;
  README.md
  package.json
  src/index.js
Due: eslint

update: getCurrentMargin to return margin scaled according to gridData;
  src/index.js
Due: eslint

update: margin increase decrease fix;
  src/index.js
  src/libs/actions/marginChange/marginChange.js
  src/libs/actions/marginChange/marginChangeUtils.js
Due: eslint

update: readme update;
  README.md
Due: none

update: undo redo added for margin change;
  src/libs/actions/marginChange/marginChange.js
Due: eslint

bugfix: import statement corrected;
  src/libs/actions/marginChange/marginChange.js
Due: eslint

update: saving margin in undo redo; resetting undo redo on resize observer;
  src/index.js
  src/libs/actions/marginChange/marginChange.js
  src/libs/actions/marginChange/marginChangeUtils.js
  src/libs/eventHandlerLib/deskInteraction.js
  src/libs/eventHandlerLib/miscellaneous.js
  src/libs/interaction/itemInteraction.js
  src/libs/renderers/renderers.js
  src/store/variables/essentials.js
Due: eslint

update: copyright year update;
  src/libs/eventHandlerLib/miscellaneous.js
  src/libs/interaction/itemInteraction.js
  src/libs/renderers/renderers.js
  src/store/variables/essentials.js
Due: eslint

README update for link and other minor info
  README.md
Due: none

dist update;
  index.css
  index.js
Due: eslint, prettier -c

update;
  README.md
  src/index.js
  src/initializers/initializers.js
  src/libs/actions/marginChange/marginChangeUtils.js
  src/libs/eventHandlerLib/miscellaneous.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  prettier -c: any of: *.{css, scss, json}
