Repository sharma-subendra-kr/LimberGridView: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

dist update
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
Due: eslint

bugfix: index coming as string so parsing as int
  src/libs/renderers/renderers.js
Due: eslint

bugfix: mobile scroll io bottom helper position not getting updated when item is deleted
  public/main.js
  src/index.js
  src/libs/renderers/renderers.js
Due: eslint

bugfix: rendering serialized items when an item is deleted
  src/libs/renderers/renderers.js
Due: eslint

updating serialized position data array while removing
  src/libs/renderers/renderers.js
Due: eslint

bugfix: remove item fix for mobile, hopefully and should not break desktop
  src/initializers/initializers.js
  src/libs/eventHandlerLib/intersectionObserver.js
  src/libs/renderers/renderers.js
Due: eslint

bugfix: index correction; isMobile check
  src/libs/renderers/renderers.js
Due: eslint

bugfix: remove item mobile devices
  src/index.css
  src/initializers/initializers.js
  src/libs/eventHandlerLib/intersectionObserver.js
  src/libs/renderers/renderers.js
Due: eslint, prettier -c

making files same as demo branch
  public/main.js
Due: eslint

dist update
  dist/index.css
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
Due: eslint, prettier -c

bugfix: removeComplete being called before splice of pd happens
  src/libs/renderers/renderers.js
Due: eslint

Update README.md
  README.md
Due: none

license updated, template, one file only
  src/libs/renderers/renderers.js
Due: eslint

Rights changed to rights
  README.md
Due: none

release-1.0.0-beta.3 readme update
  README.md
Due: none

package update
  package-lock.json
  package.json
Due: none

installation added
  README.md
Due: none

rtree version update
  package.json
Due: none

package-lock update
  package-lock.json
Due: none

added some text
  README.md
Due: none

some text update
  README.md
Due: none

how to instantiate Lgv added to readme
  README.md
Due: none

bugfix: missing x1,x2,y1,y2 while adding on drag
  src/libs/renderers/renderers.js
Due: eslint

update
  README.md
Due: none

version update
  README.md
Due: none

Path conditions:
  eslint: any of: *.js
  prettier -c: any of: *.{css, scss, json}
