Repository sharma-subendra-kr/LimberGridView: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

.lintstagedrc:

{
  "*.js": ["eslint"],
  "*.{css, scss, json}": ["prettier -c"]
}

husky 5 config
  .husky/.gitignore
  .husky/pre-commit
  package.json
Due: none

udpate
  .husky/.gitignore
Due: none

update
  .jshintignore
  .jshintrc
Due: none

update
  .huskyrc
Due: none

updated vscode config
  .eslintrc.json
  .vscode/settings.json
Due: none

rtreejs added; comments refactor
  package-lock.json
  package.json
  src/index.js
Due: eslint

clear terminal added; build.sh added; rtreejs added
  build.sh
  package-lock.json
  package.json
  src/index.js
  webpack.common.js
Due: eslint

sweepline top and bottom move to rtrees
  src/libs/arrange/arrange.js
  src/libs/arrange/arrangeCore.js
  src/libs/rect/rectUtils.js
Due: eslint

removed unused imports
  package-lock.json
  src/libs/arrange/arrange.js
  src/libs/arrange/arrangeCore.js
  src/libs/arrange/arrangeUtils.js
  src/libs/rect/rectUtils.js
Due: eslint

arrange move to rtree
  src/libs/arrange/arrangeCore.js
  src/libs/arrange/arrangeUtils.js
Due: eslint

update
  src/libs/arrange/arrangeCore.js
  src/libs/arrange/arrangeUtils.js
Due: eslint

sort fix
  src/libs/arrange/arrangeUtils.js
Due: eslint

rtree update
  package-lock.json
Due: none

bug fix
  src/libs/arrange/arrangeCore.js
  src/libs/rect/rectUtils.js
Due: eslint

refactor; rect removed from data
  src/libs/arrange/arrangeCore.js
  src/libs/arrange/arrangeUtils.js
Due: eslint

update
  package-lock.json
  src/index.js
Due: eslint

RECTUTILS refactor and optimizations
  src/libs/rect/rectUtils.js
Due: eslint

removed unused function areRectsAdjacent
  src/libs/rect/rectUtils.js
Due: eslint

removed doRectsOnlyTouch with threshold; refactored doRectsOverlap
  src/libs/rect/rectUtils.js
Due: eslint

resize and arrange from height compliant to rtrees
  src/libs/arrange/arrange.js
Due: eslint

optimization
  src/libs/arrange/arrangeCore.js
Due: eslint

optimiation
  src/libs/arrange/arrangeCore.js
Due: eslint

refactor
  public/charts.js
  public/commands.js
  public/index.html
  public/main.css
  public/main.js
  public/positionData.js
  public/rtree.js
Due: eslint, prettier -c

rtree container added
  public/index.html
  public/main.css
  public/main.js
Due: eslint, prettier -c

rtree debug tools
  public/commands.js
  public/main.css
Due: eslint, prettier -c

rtreejs update
  package-lock.json
  package.json
Due: none

rtreejs update
  package-lock.json
  package.json
  src/libs/debug/debug.js
Due: eslint

sanitize functions added, incomplete
  src/libs/renderers/renderers.js
  src/libs/utils/utils.js
Due: eslint

minor
  src/index.js
  src/index.scss
  src/libs/arrange/arrangeUtils.js
Due: eslint

bugfix: doRectsOverlap; sanitized margin anddefined min height and width
  src/initializers/initializers.js
  src/libs/rect/rectUtils.js
Due: eslint

sweepline algo change for top and bottom find
  src/libs/arrange/arrangeCore.js
Due: eslint

update
  public/main.js
  src/libs/arrange/arrangeUtils.js
  src/libs/rect/rectUtils.js
Due: eslint

logic to select best pos changed
  package-lock.json
  src/libs/arrange/arrangeCore.js
  src/libs/arrange/arrangeUtils.js
  src/libs/geometry/geometry.js
Due: eslint

debug.js compliant to rtree
  src/libs/debug/debug.js
Due: eslint

rtreejs update
  package-lock.json
Due: none
