Repository sharma-subendra-kr/LimberGridView: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

update - upgrade latch: margin removed from dimension while trying to overlap latch
  src/libs/interaction/itemInteractionLatch.js
Due: eslint

docs: updated docs
  src/index.js
Due: eslint

version update, contact added in bold
  README.md
Due: none

version update
  package.json
Due: none

dist update
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
Due: eslint

dist update
  index.css
  index.js
Due: eslint, prettier -c

Read me update
  README.md
Due: none

update: node-sass removed
  package.json
Due: none

version corrected
  package.json
Due: none

package-lock updated
  package-lock.json
Due: none

correct file used
  package.json
Due: none

sass added
  package-lock.json
  package.json
Due: none

dist update
  dist/index.css
Due: prettier -c

update: updated undo-redo so package-lock also updated
  package-lock.json
Due: none

Stack version upgrade
  package-lock.json
Due: none

used npmjs instead of git for packages
  package-lock.json
  package.json
  src/index.js
Due: eslint

Release 1.0.0 beta.12 (#125)
  dist/index.css
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
  package-lock.json
  package.json
  src/index.js
Due: eslint, prettier -c

update: demo library built;
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
  src/libs/arrange/arrange.js
  src/libs/arrange/arrangeCore.js
  src/libs/debug/debug.js
  src/libs/eventHandlerLib/itemInteraction.js
Due: eslint

dist update
  index.css
Due: prettier -c

added favicon
  assets/favicon.png
Due: none

dist update: externalized libraries
  index.html
  index.js
Due: eslint

fix: how it works demo;
  index.js
Due: eslint

update: skipping setTimeout when hold time is 0;
  src/libs/eventHandlerLib/itemInteraction.js
Due: eslint

dist update;
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
Due: eslint

update: license year update;
  LICENSE
  README.md
Due: none

update: added missing statement;
  src/libs/eventHandlerLib/itemInteraction.js
Due: eslint

dist upate;
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
Due: eslint

update: copyright year update; version update;
  license_header
  package.json
  src/initializers/initializers.js
  src/libs/eventHandlerLib/itemInteraction.js
Due: eslint

dist update;
  dist/index.css
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
Due: eslint, prettier -c

update: logger added;
  public/main.js
  src/index.js
  src/initializers/initializers.js
  src/libs/eventHandlerLib/itemInteraction.js
  src/libs/utils/debug.js
  src/libs/utils/utils.js
Due: eslint

update: TOUCH_HOLD_TIME set to 0 by default;
  src/index.js
Due: eslint

update: TOUCH_HOLD_TIME reverted; dist update;
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
  src/index.js
Due: eslint

wip: loggers added;
  src/libs/eventHandlerLib/itemInteraction.js
Due: eslint

update: TOUCH_HOLD_TIME reverted;
  src/index.js
Due: eslint

wip: update;
  src/libs/eventHandlerLib/eventHandlerUtils.js
  src/libs/eventHandlerLib/itemInteraction.js
  src/libs/geometry/geometry.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  prettier -c: any of: *.{css, scss, json}
