Repository sharma-subendra-kr/LimberGridView: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

.lintstagedrc:

{
  "*.js": ["eslint"],
  "*.{css, scss, json}": ["prettier -c"]
}

Release 1.0.0 beta.14 (#139)
  README.md
  dist/umd/limber.grid.view.development.js
  dist/umd/limber.grid.view.production.min.js
  package.json
  public/main.js
  src/index.js
  src/initializers/initializers.js
  src/libs/actions/marginChange/marginChange.js
  src/libs/actions/marginChange/marginChangeUtils.js
  src/libs/eventHandlerLib/deskInteraction.js
  src/libs/eventHandlerLib/miscellaneous.js
  src/libs/interaction/itemInteraction.js
  src/libs/renderers/renderers.js
  src/libs/utils/debug.js
  src/store/variables/essentials.js
Due: eslint

config: alias for src added as 'src' and '@src', updated config for sublime and vscode;
  LimberGridView.sublime-project
  commands
  jsconfig.json
  webpack.common.js
Due: eslint

update: version, copyright date change;
  LICENSE
  README.md
  license_header
  package.json
Due: none

update: file name changed;
  src/index.js
  src/libs/eventHandlerLib/deskInteractionEventHandler.js
  src/libs/eventHandlerLib/deskInteractionEventHandlerUtils.js
  src/libs/eventHandlerLib/itemInteractionEventHandler.js
  src/libs/eventHandlerLib/itemInteractionEventHandlerUtils.js
Due: eslint

wip: totalArranged and arranged separated;
  src/libs/arrange/arrange.js
  src/libs/interaction/itemInteraction.js
Due: eslint

wip: code update;
  src/libs/arrange/arrange.js
  src/libs/arrange/arrangeUtils.js
Due: eslint

update: site update;
  index.css
  index.js
Due: eslint, prettier -c

update: 404.html update;
  404.html
Due: none

fix: github 404 redirect error;
  404.html
  index.html
Due: none

lgv scroll fix;
  index.js
Due: eslint

fix: ios video popup fix;
  index.js
Due: eslint

fix: ios full screen fix;
  index.js
Due: eslint

footer to expand on button click;
  index.css
  index.js
Due: eslint, prettier -c

update: footer update;
  .eslintignore
  .prettierignore
  index.css
  index.js
Due: eslint, prettier -c

update: footer update;
  index.js
Due: eslint

update: padding removed from items;
  index.css
Due: prettier -c

update: dist update;
  index.css
  index.js
Due: eslint, prettier -c

update: dist update;
  index.js
Due: eslint

update: dist update;
  index.css
Due: prettier -c

update: readme;
  README.md
Due: none

update: minor;
  README.md
Due: none

site update: text update;
  index.js
Due: eslint

dist update;
  index.js
Due: eslint

dist update;
  index.css
  index.js
Due: eslint, prettier -c

dist updatel
  index.js
Due: eslint

Update README.md
  README.md
Due: none
