Repository sharma-subendra-kr/LimberGridView: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

bugfix: not allowing items-in-combinedworkspace to be in items-in-bottom-workspace or items-below-bottom-workspace
  src/libs/arrange/arrange.js
  src/libs/arrange/arrangeUtils.js
Due: eslint

Release 1.0.0 beta.3 wip 2.6 (#82)
  public/main.js
  src/index.css
  src/index.js
  src/initializers/initializers.js
  src/libs/arrange/arrange.js
  src/libs/arrange/arrangeUtils.js
  src/libs/eventHandlerLib/itemInteraction.js
  src/libs/eventHandlerLib/itemInteractionUtils.js
  src/libs/interaction/itemInteraction.js
  src/libs/interaction/itemInteractionUtils.js
  src/libs/renderers/renderers.js
Due: eslint, prettier -c

Issue #48: supposedly fixed
  src/libs/arrange/arrangeUtils.js
Due: eslint

event, scroll, touch, etc code REFACTOR
  src/libs/eventHandlerLib/deskInteraction.js
  src/libs/eventHandlerLib/eventHandlerUtils.js
  src/libs/eventHandlerLib/itemInteraction.js
  src/libs/eventHandlerLib/itemInteractionUtils.js
  src/libs/utils/essentials.js
Due: eslint

slowing down scroll
  src/libs/eventHandlerLib/deskInteraction.js
  src/libs/eventHandlerLib/itemInteraction.js
  src/libs/utils/essentials.js
Due: eslint

flags added
  src/index.js
  src/initializers/initializers.js
Due: eslint

constants used
  src/libs/eventHandlerLib/deskInteraction.js
  src/libs/eventHandlerLib/itemInteraction.js
Due: eslint

Issue #79: done; Issue #80: done
  public/main.js
  src/libs/eventHandlerLib/deskInteraction.js
  src/libs/eventHandlerLib/itemInteraction.js
  src/libs/utils/essentials.js
Due: eslint

Release 1.0.0 beta.3 wip 2.7 (#83)
  public/main.js
  src/index.js
  src/initializers/initializers.js
  src/libs/arrange/arrangeUtils.js
  src/libs/eventHandlerLib/deskInteraction.js
  src/libs/eventHandlerLib/eventHandlerUtils.js
  src/libs/eventHandlerLib/itemInteraction.js
  src/libs/eventHandlerLib/itemInteractionUtils.js
  src/libs/utils/essentials.js
Due: eslint

Issue #41: done; refactor
  src/index.js
  src/libs/eventHandlerLib/initializers.js
Due: eslint

Issue #75: done
  src/initializers/initializers.js
  src/libs/arrange/arrange.js
Due: eslint

Issue #39: partial fix
  src/index.css
  src/libs/eventHandlerLib/itemInteractionUtils.js
Due: eslint, prettier -c

Issue #39: partial
  src/index.css
  src/libs/eventHandlerLib/itemInteractionUtils.js
Due: eslint, prettier -c

Issue #39: remove display none
  src/index.css
  src/libs/eventHandlerLib/deskInteraction.js
  src/libs/eventHandlerLib/deskInteractionUtils.js
Due: eslint, prettier -c

updating license z index
  src/index.css
Due: prettier -c

Release 1.0.0 beta.3 wip 2.8 (#84)
  src/index.css
  src/index.js
  src/initializers/initializers.js
  src/libs/arrange/arrange.js
  src/libs/eventHandlerLib/deskInteraction.js
  src/libs/eventHandlerLib/deskInteractionUtils.js
  src/libs/eventHandlerLib/initializers.js
  src/libs/eventHandlerLib/itemInteractionUtils.js
Due: eslint, prettier -c

Issue #76: move to resize observer
  public/index.html
  src/index.js
  src/libs/eventHandlerLib/miscellaneous.js
  src/store/observer/resizeObserver.js
Due: eslint

Issue #76: done
  src/libs/eventHandlerLib/eventHandlerUtils.js
  src/libs/eventHandlerLib/miscellaneous.js
  src/store/variables/essentials.js
Due: eslint

Issue #76: resize observer
  public/main.css
  src/libs/utils/utils.js
Due: eslint, prettier -c

Issue #76: resizeObserver polyfill added
  package-lock.json
  package.json
  public/main.js
  src/libs/eventHandlerLib/miscellaneous.js
  webpack.prod.js
Due: eslint

Release 1.0.0 beta.3 wip 2.9 (#85)
  package-lock.json
  package.json
  public/index.html
  public/main.css
  public/main.js
  src/index.js
  src/libs/eventHandlerLib/eventHandlerUtils.js
  src/libs/eventHandlerLib/miscellaneous.js
  src/store/observer/resizeObserver.js
  src/store/variables/essentials.js
  webpack.prod.js
Due: eslint, prettier -c

isMobile fix
  src/libs/utils/utils.js
Due: eslint

fix: firefox event object getting reset
  public/index.html
  src/libs/eventHandlerLib/deskInteraction.js
  src/libs/eventHandlerLib/itemInteraction.js
Due: eslint

Release 1.0.0 beta.3 wip 2.10 (#86)
  public/index.html
  src/libs/eventHandlerLib/deskInteraction.js
  src/libs/eventHandlerLib/itemInteraction.js
  src/libs/utils/utils.js
Due: eslint

setup
  src/index.css
  src/index.js
  src/initializers/initializers.js
  src/libs/eventHandlerLib/miscellaneous.js
  src/store/variables/elements.js
  src/store/variables/essentials.js
Due: eslint, prettier -c

file change
  src/index.js
  src/libs/eventHandlerLib/intersectionObserver.js
  src/libs/eventHandlerLib/miscellaneous.js
Due: eslint

intersection observer logic
  src/index.css
  src/index.js
  src/initializers/initializers.js
  src/libs/eventHandlerLib/intersectionObserver.js
  src/store/variables/essentials.js
Due: eslint, prettier -c

first working version intersection observer
  public/positionData.js
  src/initializers/initializers.js
  src/libs/eventHandlerLib/intersectionObserver.js
  src/libs/renderers/renderers.js
  src/libs/utils/items.js
Due: eslint

this is smoother
  public/positionData.js
  src/initializers/initializers.js
  src/libs/eventHandlerLib/intersectionObserver.js
Due: eslint

update
  public/main.js
  src/initializers/initializers.js
  src/libs/arrange/arrangeUtils.js
  src/libs/eventHandlerLib/intersectionObserver.js
  src/libs/eventHandlerLib/itemInteraction.js
  src/libs/interaction/itemInteraction.js
  src/libs/interaction/itemInteractionUtils.js
  src/libs/renderers/renderers.js
  src/libs/utils/items.js
  src/store/variables/essentials.js
Due: eslint

update
  src/libs/renderers/renderers.js
Due: eslint

io hopefully all good
  src/libs/eventHandlerLib/initializers.js
  src/libs/eventHandlerLib/itemInteractionUtils.js
  src/libs/interaction/itemInteraction.js
  src/libs/interaction/itemInteractionUtils.js
  src/libs/renderers/renderers.js
Due: eslint

bugfix
  src/libs/arrange/arrangeUtils.js
  src/libs/eventHandlerLib/deskInteractionUtils.js
  src/libs/renderers/renderers.js
Due: eslint

bugfix
  src/libs/interaction/itemInteraction.js
Due: eslint

onScroll event added
  src/index.js
  src/libs/eventHandlerLib/intersectionObserver.js
  src/store/variables/essentials.js
Due: eslint

bugfix
  src/libs/renderers/renderers.js
Due: eslint

removed unnecessary code
  src/initializers/initializers.js
  src/libs/arrange/arrangeUtils.js
  src/libs/eventHandlerLib/intersectionObserver.js
  src/libs/interaction/itemInteraction.js
  src/libs/interaction/itemInteractionUtils.js
  src/libs/renderers/renderers.js
Due: eslint

removed unnecessary imports
  src/libs/renderers/renderers.js
Due: eslint

Release 1.0.0 beta.3 wip 2.11 (#87)
  public/main.js
  public/positionData.js
  src/index.css
  src/index.js
  src/initializers/initializers.js
  src/libs/arrange/arrangeUtils.js
  src/libs/eventHandlerLib/deskInteractionUtils.js
  src/libs/eventHandlerLib/initializers.js
  src/libs/eventHandlerLib/intersectionObserver.js
  src/libs/eventHandlerLib/itemInteraction.js
  src/libs/eventHandlerLib/itemInteractionUtils.js
  src/libs/interaction/itemInteraction.js
  src/libs/interaction/itemInteractionUtils.js
  src/libs/renderers/renderers.js
  src/libs/utils/items.js
  src/store/variables/elements.js
  src/store/variables/essentials.js
Due: eslint, prettier -c

Path conditions:
  eslint: any of: *.js
  prettier -c: any of: *.{css, scss, json}
